@import 'bootstrap';

header {
  padding: 2rem;
  background-color: lightgray;
  box-shadow: 0px 1px 10px black;
}

.table {
  margin-top: 4rem;
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 10px;

  tr {

    td {
      background-color: transparent;
      border-style: none;
      padding: 3rem;

    }
  }
}



.titles {
  font-size: 1.4rem;
  font-weight: 700;

}

.tag_list {
  list-style: none;
}

.post_row {
  border-collapse: separate;
  border: 1px solid grey;
  border-radius: 10px;
}

.post_img {
  max-width: 100%;
}

.overlay {
  width: 100vw;
  height: 100%;
  background-color: black;
  position: absolute;
  color: lightgrey;
}

.btn-overlay {
  position: absolute;
  top: 50px;
  right: 50px;
}